:root{
    /*background and font color*/
    --background: #131214;
    --surface: #1D1C1F;
    --on-background: #EAE6F2;
    --on-surface: #DDDAE5;
    --primary: #B5A1E5; 
    /*font sizes*/
    --body-3: 1.6rem;
    /*font family*/
    --ff-nunito-sans: 'Nunito Sans', sans-serif;
    /* Border Radius */
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;
    /* Shadow */
    --shadow-1: 0px 0px 20px hsla(0, 2%, 19%, 0.5);
    --shadow-2: 0px 0px 20px hsla(0, 5%, 20%, 0.4);
    --outline: #3e3d40;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--background);
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    /* background-image: linear-gradient(to right top, #4d8d8c, #438180, #397574, #2f6968, #255e5d); */
    /* background-image: url(images/backgroundforweb.jpg); */
    color: var(--on-background);
    font-size: var(--body-3);
}
html{
    font-family: var(--ff-nunito-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}
.justify-content{
    justify-content: space-between;
    align-items: center;
}
.justify-content1{
    justify-content: space-around;
    align-items: center;
    text-align: start;
}
.justify-content2{
    justify-content: space-evenly;
    align-items: center;
    /* text-align: start; */
}
.justify-content3{
    justify-content: start;
    align-items: baseline;
}
.flex{
    /* justify-content: space-between; */
    line-height: 2;
    gap: 10px;
    display: flex;
    /* text-align: baseline; */
}
/*left side*/
#target{
    /* display: block;  */
    color: #B5A1E5; 
    font-size: 10rem;
    text-align: center;
    /* margin-top: 3em; */
    animation: 1s infinite animatin;
    
}
@keyframes animatin {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
#error-content{
    font-size: 35px;
    text-align: center;
    margin-top: 5em;
    display: none;
}
.search input{
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px 15px;
    background: var(--surface);
    outline: 0;
    width: 2500px;
    height: 50px;
}
.search button i{
    font-size: 20px;
}
.search button:hover{
    background-color: #121212;
    color: var(--primary);
}
input::selection{
    color: var(--primary);
}
.containlocation:hover{
    cursor: pointer;
    color: palegoldenrod;
}
.login{
    justify-content: center;
    font-size: 18px;
    color: white;
}
.loginuser{
    /* border: 1px solid white;
    padding: 5px;*/
    border-radius: 10px; 
}
.loginuser:hover{
    scale: 0.9;
    color: #86FBF9;
    /* background-color: #916aed; */
    /* border: 1px solid black; */
}
.current-location{
    justify-content: center;
    font-size: 18px;
    color: #916aed;
}
.current-location i{
    font-size: 20px;
}
.wheather-icon{
    width: 100px;
    height: 100px;
    display: none;
}
.upperleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--surface);
    color: var(--on-surface);
    font-family: var(--ff-nunito-sans);
    font-size: inherit;
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-16);
    height: 45%;
}
.heading{
    margin-left: 2rem;
    font-family: var(--ff-nunito-sans);
    color: inherit;
}
.Logo{
    padding: 1.5rem;
}
.user-2-hidden{font-size: 30px; color: #B5A1E5;align-items: flex-end; padding-right: 2.5rem;display: none;}
.user-2-hidden i{
    position: relative;
    left: 45%;
}
.user-2-hidden:hover{
    scale: 0.9;
    color: white;
    background-color: #916aed;
    /* border: 2px solid white; */
}
input{
    display: block;
}
.search{
    padding: 1.5rem;
}
input,button{
    border: none;
    background-color: inherit;
    color: inherit;
    font: inherit;
    font-family: var(--ff-nunito-sans);
}
sub{ vertical-align: baseline; }
sup{ vertical-align: baseline; }
.temp{
    font-size: 2em;
    font-weight: 400;
}
sub,sup{
    font-size: 0.75em;
}
.color1{
    margin-bottom: 10px;
    background-color: var(--surface);
    border-radius: var(--radius-28);
    box-shadow: var(--shadow-2);
}
.color2{
    border-radius: 18px;
    padding: 15px;
    box-shadow: 0px 0px 10px #121212;
    background-color: #2e2c2c;
}
.flex2{
    display: flex;flex-direction: column;gap: 12px;
}
.vertical-align{
    align-items: center;
    justify-content: space-between;
}
.contain-main{
    height: 97%;
    width: 97%;
}
.contain-main-child{
    height: 23%;
    width: 100%;
}
.contain-item{
    text-align: start;
    height: 90%;
    width: 100%;
}
.contain-item-child{
    padding: 0px 0px 0px 40px;
    width: 25%;
}
::-webkit-scrollbar{
    display: none;
} 
.main-heading{
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 30px;
}
.heading2{
    text-decoration: underline;
    margin-top: 2rem;
    text-align: center;
}
.contain-hourly-data{
    margin: 2rem 1rem;
    padding: 15px;
    width: 98%;
    height: 370px;
    overflow-x: scroll;
}
.contain-hourly-data-child{
    width: 200px;
    height: 100%;
    padding: .5rem;
    display: flex;flex-direction: column;gap: 12px;
}
@media (max-width:1200px){
    .temp{
        font-size: 2rem;
    }
    .contain-main h1{
        font-size: 20px;
    }
    .contain-main h2{
        font-size: 15px;
    }
}
@media screen and (max-width:1380px) {
    .img-temp p{
        display: none;
    }
}
@media screen and (max-width:1200px){
    .contain-hourly-data-child h2{
        font-size: 1em;
    }
}
@media screen and (max-width: 991px){
    .login{
        display: none;
    }
    .temp{
        font-size: 5rem;
    }
    .livedata{
        padding-inline: 10rem;
    }
    .img-temp p{
        display: block;
    }
}
@media (max-width:991.5px){
    .user-2-hidden{
        display: block;
    }
}
@media (max-width:768px){
    .temp{
        font-size: 5rem;
    }
    .containers img{
        width: 30px;
        height: 30px;
    }
    .contain-main h1{
        font-size: 14px;
    }
    .contain-main h2{
        font-size: 10px;
    }
    #searchbtn{
        margin-top: 0.5em;
        margin-right: 0.5em;
    }
    .contain-hourly-data{
        height: 300px;
    }
    .contain-hourly-data-child{
        width: 170px;
        height: 270px;
        gap: 0px;
    }
    .contain-hourly-data-child h2{
        font-size: 1.5rem;
    }
    .contain-hourly-data-child h5{
        font-size: 1rem;
    }
}
@media (max-width:570px){
    .livedata{
        padding-inline: 0rem;
    }
}
@media (max-width:468px){
    .temp{
        font-size: 2em;
    }
    .contain-item-child{
        padding: 0px 0px 0px 10px;
        /* width: 25%; */
    }
    .logo{
        width: 200px;
        height: 40px;
    }
    .location-2-hidden{
        font-size: 25px;
    }
    .search{
        padding: 6px;
    }
    #target{
        font-size: 5rem;
    }
    .Logo{
        padding-bottom: 0px !important;
    }
    .search-item{
        margin-left: 10px;
        padding-top: 0px;
    }
    .user-2-hidden{font-size: 20px; color: #B5A1E5;align-items: flex-end; padding-right: 2.5rem;display: block;}
    .user-2-hidden i{
        position: relative;
        left: 65%;
    }
}
@media  (max-width:376px) {
    .logo{
        height: 30px;
        width: 150px;
    }
    #icon{
        width:70px;
        height: 70px;
    }
}
